
    <footer class="footer">
        <div class="row">
            <div class="col-8">
                <ul>
                    <li *ngFor = "let user of userss">
                        {{user.email}}
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <span>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. A dolore quis corporis soluta sit nobis assumenda tempore quisquam, eligendi facere.
                </span>
            </div>
        </div>


        <p class="text-center">&copy; 2022</p>
    </footer>

