nav{
    background-color: aqua;
    margin-top: 30px;
    padding: 10px;
}
nav img{
    width:  70px;
    
}
nav ul{
    float: right;
    list-style-type: none;
}
ul li {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}
ul li a{
    text-decoration: none;
}

